<h3 class="mt-4">Nova Categoria</h3>
<div class="card mt-4">
<div class="card mt-4">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="post">
            <label for="nome">Nome: </label>
                <input type="text" id="nome" name="nome" placeholder="Nome da Categoria" class="form-control mt-2">
            <label for="slug" class="mt-2">Slug:</label>
                <input type="text" id="slug" name="slug" placeholder="Slug da Categoria" class="form-control mt-2">
            <button type="submit" class="btn btn-success mt-4">Criar Categoria</button>
        </form>
    </div>
</div>