<h4 class="mt-2">Titulo: {{postagem.titulo}}</h4>
            <h6>Categoria: {{categoria.nome}}</h6>
            <small>{{formatDate data}}</small><hr>
            <p>Conteúdo: {{postagem.conteudo}}</p>
            <hr>
            <a href="/"><button class="btn btn-danger btn-sm">Voltar</button></a>

               